$ys-color-digital-grass: #1fab2e;
$ys-color-white: #fff;
$ys-color-black: #000;
$ys-color-grey-28: #484848;
$ys-color-midnight-green: #002219;
$ys-color-digital-moss: #0c4d33;
$ys-color-digital-turquoise: #27a4d7;
$ys-color-digital-sunset-yellow: #ffb700;
$ys-color-error-red: #d31a20;
$ys-color-error-red-10: #fae8e8;
$ys-color-warning-yellow: #ff8a00;
$ys-color-warning-yellow-10: #fff7e5;
$ys-color-info-blue: #266df5;
$ys-color-info-blue-10: #e8f0ff;
$ys-color-digital-grass-10: #ebf9ec;
$ys-color-grey-10: #191919;
$ys-color-grey-22: #383838;
$ys-color-grey-46: #767676;
$ys-color-grey-57: #929292;
$ys-color-grey-64: #a2a2a2;
$ys-color-grey-85: #d9d9d9;
$ys-color-grey-94: #f0f0f0;
$ys-color-grey-98: #fafafa;
